#division{
	background-color: #EDF5E1;
	color: #05386B;
	margin-right: 20px;
	margin-left: 20px;
}
#heading{
	text-align: center;
}
#paragraph{
	padding-left: 50px;
	padding-right: 50px;
}
#anchor{
	text-align: center;
}
a{
	color: gray;
	text-decoration: none;
	margin-bottom: 30px;
	font-size: 20px;
	text-align: center;
}
.my{
	font-family: 'Oxygen', sans-serif;
}
li{
	padding-bottom: 0px;
	padding-bottom: 10px;
}
a:hover{
	color: blue;
	text-decoration: none;
}
#header-nav{
	border-radius: 0;
	border: 0;
}
body{
	background-color: #5CDB95;
}
